.contact {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 60px 40px;
}

.contact-hero {
  text-align: center;
  margin-bottom: 70px;
  animation: fadeIn 1s ease;
}

.contact-hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.contact-hero h1:hover {
  transform: scale(1.05);
  letter-spacing: 3px;
  color: gainsboro;
}

.contact-hero p {
  max-width: 800px;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.8;
  color: gainsboro;
}

/* formulaire */

.contact-container {
  display: flex;
  justify-content: center;
  animation: slideUp 1s ease;
}

.contact-form {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.contact-form input:hover,
.contact-form textarea:hover {
  transform: scale(1.02);
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 10px white;
}

/* bouton */

.contact-form button {
  padding: 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}


.social-section {
  margin-top: 100px;
  text-align: center;
  animation: fadeIn 1s ease;
}

.social-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.social-section h2:hover {
  transform: translateY(-5px);
  color: #cccccc;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.social-links a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 12px 25px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: white;
  color: black;
}

/* animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Media queries */

@media (max-width: 768px) {
  .contact {
    padding: 40px 20px;
  }

  .contact-hero h1 {
    font-size: 2.5rem;
  }

  .contact-hero p {
    font-size: 1rem;
  }

  .social-section h2 {
    font-size: 2rem;
  }
}