.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 30px;
  border-radius: 10px;
}

/* Accueil */

.logo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

/* liens de droite */

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav a:hover,
.logo a:hover {
  background-color: white;
  color: black;
}


/* Mediz queries - Tablette */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .logo a {
    font-size: 1.5rem;
  }

  .nav a {
    font-size: 1rem;
    padding: 10px 15px;
  }
}



/* Media queries  */

@media (max-width: 480px) {
  .header {
    border-radius: 0;
    padding: 15px;
  }

  .nav {
    flex-direction: column;
    width: 100%;
  }

  .nav a {
    width: 100%;
    text-align: center;
  }

  .logo a {
    font-size: 1.3rem;
  }
}